## Type Conversion

In [20]:
x = 90
y = 10

In [21]:
x, y

(90, 10)

In [26]:
float("%.6f"%(x/y))

9.0

In [12]:
x = int(input("Enter first number : "))
y = int(input("Enter second number : "))

In [13]:
x, y

(123, 213)

In [28]:
import random

In [33]:
random.randint(12, 19)

13

In [38]:
def pooja():
    return ('POoja is a good girl')

In [39]:
pooja()

'POoja is a good girl'

In [43]:
def add(num1 , num2 ):
    return num1 + num2

In [45]:
def multiply(n1, n2):
    return n1*n2

In [47]:
print(multiply(10, 3))

30

## scope

In [61]:
p = 90 ## global scope
q = 'south africa'

def foo():
    q = 7 ## function scope
    p = 54
    return p + q


def goo():
    p = 'zimbambwe'
    return p+q

print(goo())
    
print(q)

foo()

zimbambwesouth africa
south africa

61

In [62]:
def add(*args : list, **kwargs : dict):
    pass

In [65]:
# def add(x, y):
#     return x + y

def add(x,y,z):
    return x+ y +z

In [75]:
def add(*args):
    return sum(args)

add(3242,25,1,1,57,8,4,31)

3369

In [78]:
## anonymous , single line function

f = lambda x,y : x*y
f(7, 6)

42

In [80]:
(lambda x,y : x*y)(8,7)

56